@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "_Index";
}
<form action="/" method="post">
    <div class="control-group">
        <label class="control-label pull-right" style="width: 150px; margin-top: 10px;" for="Name">متن روبرورا وارد نمایید</label>
        <div class="pull-right">
            @Html.Captcha(5, MVC.Shared.Views.DefaultCaptcha)
        </div>
    </div>
</form>
