<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">مدیریت کاربران</a>
        <ul class="nav">
            <li>@Ajax.ButtonDialog("افزودن کاربر", Url.Action(MVC.Admin.User.ActionNames.Add, MVC.Admin.User.Name), "GET", null, "dialog", new DialogOptions { Height = "600", Width = "450", Title = "کاربر جدید", IsModal = "true", ShowEffect = "size", ShowDir = "down", HideEffect = "fold", HideDir = "right" }, "btn btn-info")</li>
        </ul>
    </div>
</div>
