<div style="text-align: center;margin:10px;">
    <div class="alert alert-error" style="text-align: right; width: 70%; margin: 0 auto;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        ارسال دیدگاه برای این موضوع بسته شده است!
    </div>
</div>
