@model Iris.Model.EmailModel.ResetPasswordModel

<div style="direction: rtl; -ms-word-wrap: break-word; word-wrap: break-word;">
    <p>با سلام</p>
    <p>&nbsp;کاربر گرامی &nbsp;@Model.UserName عزیز،&nbsp;گویا شما درخواست ریست کردن پسورد خود را داشته اید.اگر این درخواست متعلق به شماست بر روی لینک زیر کلیک کنید، در غیر این صورت این پیام را نادیده بگیرید.</p>
    <p>@Model.ResetLink</p>
    <div style="font-size: 13px; color: #808080;">
        <p>با تشکر</p>
        <p>@Model.SiteTitle</p>
        <p>@Model.SiteDescription</p>
        <p><span style="direction: ltr !important; unicode-bidi: embed;">@Html.ConvertToPersianDateTime(DateTime.Now, "s,H")</span></p>
    </div>
</div>
