@{
    ViewBag.Title = "باز نشانی کلمه عبور";
}

<fieldset>
    <legend>باز نشانی کلمه عبور</legend>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message
    </div>
</fieldset>
