@using Iris.DomainClasses.Entities
@model IEnumerable<Iris.DomainClasses.Entities.Category>
<div id="annonce-wrapper" class="span5">
    <div class="" id="announce">
        <fieldset>
            <legend>اعلانات سایت</legend>
            <div class="tabbable tabs-right">
                <ul class="nav nav-tabs">
                    @{ var counter = 0;}
                    @foreach (var category in Model)
                    {
                        <li @if (counter == 0)
                            {<text>class="active"</text>
                                ++counter;
                            }><a data-toggle="tab" href="#cat@(category.Id)">@category.Name</a>
                        </li>
                    }
                </ul>
                @{
                    counter = 0;
                }
                <div class="tab-content">
                    @foreach (var category in Model)
                    {
                        <div id="cat@(category.Id)" class="@if (counter == 0)
                                                           {<text>active </text>
                                                               ++counter;
                                                           }tab-pane" style="overflow-y: auto;">
                            <ul style="margin: 0 20px 0 0; color: rgb(0, 173, 255); max-height:120px;">
                                @foreach (var article in category.Articles.OrderByDescending(article => article.CreatedDate).Take(10).ToList())
                                {<li>
                                    @Html.ActionLink(article.Title, "Index", "Article", new { id = article.Id, title = Html.ResolveTitleForUrl(article.Title) }, new { description = article.Title })
                                </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
        <!-- end acoordian -->
    </div>
    <!-- end announce div -->
    <div class="clear"></div>
</div>
