@model IEnumerable<Iris.Model.BooksListModel>
<fieldset>
    <legend style="text-align: right;">تازه ترین کتاب ها</legend>
    @{ await Html.RenderPartialAsync("_BooksList", Model);}
    <div id="MoreInfoDiv"></div>
    <!-- begin page navigation section -->
    <div style="text-align: center;">
        <span id="moreInfoButton" href="@Url.Action("BooksList", "Home")" style="width: 70%" class="btn btn-success" rel="nofollow">بیشتر</span>
    </div>
    <!-- end page navigation section -->
</fieldset>
