@{
    ViewBag.Title = string.Format("کتاب های برچسب {0}", ViewBag.Title);
}
<fieldset>
    <legend style="text-align: right;">@ViewBag.Title</legend>
    @Html.Action(MVC.Label.ActionNames.BooksList, MVC.Label.Name, new { labelId = ViewBag.Id })
    <div id="MoreInfoDiv"></div>
    <div style="text-align: center;">
        <a id="moreInfoButton" href="@Url.Action(MVC.Label.ActionNames.BooksList, MVC.Label.Name, new { labelId = ViewBag.Id })" style="width: 70%" class="btn btn-success" rel="nofollow">بیشتر</a>
    </div>
</fieldset>
