@model Iris.Model.ForgottenPasswordModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">بازنشانی کلمه عبور</h3>
</div>
<div class="modal-body">
    @using (Html.AjaxBeginForm("Index", "ForgottenPassword", new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnComplete = "", OnSuccess = "RegisterUser.ForgottenPassword.Form.onSuccess", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "form-horizontal", id = "resetPasswordFrom" }))
    {
        @Html.AntiForgeryToken()
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="Email">ایمیل</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { @class = "ltr", placeholder = "Email" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="Captcha">انسان یاب!</label>
            <div class="controls">
                <dnt-captcha asp-captcha-generator-max="9000"
                             asp-captcha-generator-min="1"
                             asp-captcha-generator-language="English"
                             asp-captcha-generator-display-mode="SumOfTwoNumbers"
                             asp-use-relative-urls="true"
                             asp-placeholder="جواب"
                             asp-validation-error-message="پاسخ صحیح را وارد نمایید"
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#ccc"
                             asp-text-box-class="text-box single-line form-control col-md-4"
                             asp-text-box-template="<div class='input-group span-4' style='margin-right:0;'><span class='input-group-addon'></span>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="icon-refresh btn-sm"
                             asp-use-noise="false" />
            </div>
        </div>
        <div id="resetResult">
            @Html.ValidationSummary()
        </div>
        <input type="submit" id="btnResetPassword" name="name" value="" style="display: none;" />
    }
</div>
<div class="modal-footer" style="text-align: right;">
    <input type="submit" name="btn-submit" onclick="$('#btnResetPassword').trigger('click');" value="بازنشانی" class="btn btn-success" />
    @Html.AjaxActionLink("ورود", "LogOn", "User"
    , null, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "logOnModal", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "btn btn-info", id = "btnLogOn" })
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">بستن</button>
</div>
<script type="text/javascript">
    run(function () {
        $.validator.unobtrusive.parse('#resetPasswordFrom');
    });
</script>
