@if (ViewBag.Status == "approved")
{
    <span class="label label-warning">تایید نشده</span>
    @Ajax.ActionLink("تایید کردن", MVC.Admin.Comment.ActionNames.Approve, MVC.Admin.Comment.Name, new { id = ViewBag.Id }, new AjaxOptions { UpdateTargetId = "comment-status" + ViewBag.Id, InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "showLoading", OnComplete = "hideLoading" }, new { @class = "btn btn-success btn-mini" })
}
else
{
    <span class="label label-success">تایید شده</span>
    @Ajax.ActionLink("تایید نکردن", MVC.Admin.Comment.ActionNames.DisApprove, MVC.Admin.Comment.Name, new { id = ViewBag.Id }, new AjaxOptions { UpdateTargetId = "comment-status" + ViewBag.Id, InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "showLoading", OnComplete = "hideLoading" }, new { @class = "btn btn-warning btn-mini" })
}