<div id="search-advanced2">
            <fieldset>
                <legend>جست و جوی پیشرفته</legend>
                <form class="form-search">
                    <div>
                        <input type="text" class="search-query search-input" name="term" value="">
                        <button type="submit" class="btn btn-primary">جست و جو</button>
                    </div>
                    <div>
                        <span>جست و جو بر اساس</span>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">
                            همه
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">
                            عنوان کتاب
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">
                            نویسنده
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3">
                            برچسب
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3">
                            ناشر
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3">
                            ISBN
                        </label>
                    </div>

                </form>
            </fieldset>
        </div>
        <!-- end advanced search -->