a:hover
{
    text-decoration: none;
    color: #0a8909;
}

@font-face
{
    font-family: 'B Koodak';
    src: url('/content/fonts/bkoodak.eot');
    src: local('☺'), url('/content/fonts/bkoodak.woff') format('woff'), url('/content/fonts/bkoodak.ttf') format('truetype');
}

.i-font-koodak
{
    font-family: 'B Koodak', Tahoma,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.unicode
{
    unicode-bidi: embed;
    direction: ltr !important;
}

.i-border
{
    -webkit-box-shadow: 0 0 0 1px #00A6D2;
    box-shadow: 0 0 0 1px #00A6D2;
    border: 1px solid #00A6D2;
}

p
{
    margin: 0 0 0 0;
}


div#content-wrapper
{
}

body
{
    margin: 0;
    font-family: Tahoma;
    background: url(Images/paper.jpg);
}

html body
{
    height: 100%;
}

.clear
{
    clear: both;
}

img
{
    border: 0;
}

.show-grid
{
    border: 2px solid #ccc;
}

.center
{
    text-align: center;
}

.ltr
{
    direction: ltr;
}

#sidebar
{
    margin-top: 5px;
}

    #sidebar li
    {
        font-size: 12px;
        font-weight: 700;
    }

.sidebar-title
{
    font-size: 18px;
    color: #434445;
}

.sidebar-nav
{
    padding: 9px 0;
    background-color: white;
    border: 1px solid #ccc;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px)
{

    div#wrapper
    {
        height: auto;
        min-height: 100%;
    }
}

@media (max-width: 767px)
{
    div#footer
    {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    div.book-info-container
    {
        margin: 5px 0 5px 0;
    }
}

/* Large desktop */
@media (min-width: 1200px)
{
    div#wrapper
    {
        height: auto;
        min-height: 100%;
        margin-left: 110px;
        margin-right: 110px;
    }
}

@media (min-width: 1600px)
{
    div#wrapper
    {
        height: auto;
        min-height: 100%;
        margin-left: 270px;
        margin-right: 270px;
    }
}



/* begin header div*/
div#header-img
{
    text-align: center;
    width: 300px;
}

    div#header-img h1 a
    {
        -webkit-text-shadow: 0 0 5px #00ffe8;
        text-shadow: 0 0 5px #00ffe8;
        font-family: 'Arial Black', Gadget, sans-serif;
        color: #09c;
    }

        div#header-img h1 a:hover
        {
            color: #03305A;
        }

div#header-search
{
    margin-top: 2%;
}

div#header-search-input
{
    margin-left: 9%;
}

div#header-social-networks-container
{
    margin-top: 10px;
}

    div#header-social-networks-container img
    {
        margin-right: 3px;
        width: 32px;
        height: 32px;
    }

div#header-ads
{
    margin-top: 2%;
    margin-right: 10%;
}

    div#header-ads > img
    {
        width: 420px;
        height: 60px;
    }
/* end header div */

/* begin carousel */
div.carousel
{
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 0;
}

div.fake
{
    height: 160px;
    margin-bottom: 20px;
}

div.carousel div.mycaption
{
    background: none;
}

div.carousel-book > div
{
    display: inline-block;
}

div.carousel-book a img
{
    display: inline-block;
    width: 140px;
    height: 150px;
    border: 1px solid #ccc;
}

/* end carousel*/


/* begin announcement div*/
div#annonce-wrapper
{
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
}

div#announce
{
    padding: 5px;
}

    div#announce a
    {
        font-size: 13px;
        line-height: 1.6em;
    }

        div#announce a:hover
        {
            text-decoration: none;
        }

/* end announcement div*/


/* adds2 */
div#adds2
{
    text-align: center;
}
/* end adds2*/

/* begin main-content div*/

div#main-content
{
    min-height: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 7px;
}

/* end main-content div*/


/* begin sidebar */
div#sidebar > div
{
}
/* end sidebar*/

/* begin post */

div.book-info-container
{
    margin: 10px;
}

div#book-info
{
    background-color: white;
    border: 1px solid;
}

div#book-info-header
{
    background-color: rgb(3, 48, 90);
    height: 30px;
    color: white;
}

div#book-info-title
{
    vertical-align: bottom;
    padding: 3px;
    margin-right: 3px;
    font-weight: bold;
}

    div#book-info-title h1
    {
        display: inline;
        font-size: 14px;
        margin: 0;
        line-height: 0;
    }

    div#book-info-title a
    {
        color: white;
    }

        div#book-info-title a:hover
        {
            color: #68ff0d;
        }

div#book-writer-info
{
    padding-right: 3px;
    margin: 5px;
    font-size: 12px;
    font-weight: 700;
}


div#book-tag-info
{
    padding-right: 2px;
    margin: 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 700;
}

div.book-image
{
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    padding-left: 15px;
}

    div.book-image img
    {
        border: 1px solid #ccc;
        padding: 2px;
    }

        div.book-image img:hover
        {
            border-color: #00A6D2;
        }

div.book-description
{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 13px;
    line-height: 1.7em;
    padding: 15px;
    padding-top: 0;
    text-align: justify;
}

    div.book-description p
    {
        margin: 0;
    }

div.btn-book-view
{
    float: left;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

div.book-visited-count
{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

div.book-comment-count
{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

/* end  post*/

/* begin footer div */
div#footer
{
    background-color: black;
    color: white;
    position: relative;
    padding: 10px;
    height: 100px;
    clear: both;
    margin-top: 50px;
    margin-bottom: 0px;
}

div#footer-bar
{
    position: relative;
    padding: 2px;
    height: 30px;
    margin-right: -10px;
    margin-left: -10px;
}

    div#footer-bar > p
    {
        padding: 10px;
    }

/* end footer div */


/* begin advanced search */
div#search-advanced
{
    display: none;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 1px 2px #e3e3e3;
    box-shadow: 0px 1px 1px 2px #e3e3e3;
    margin-bottom: 10px;
}

    div#search-advanced div
    {
        margin: 10px;
    }

/* end advanced search*/


/* begin post container */
div#post-book-container
{
    width: 100%;
    display: inline-block;
}

div#post-book-info
{
    background-color: white;
    border: 1px solid #00A6D2;
    border-top: none;
}

div#post-book-info-header
{
    background-color: rgb(3, 48, 90);
    height: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
}

div#post-book-info-title
{
    padding: 3px;
    margin-right: 3px;
    font-weight: bold;
    margin-top: 3px;
}

    div#post-book-info-title h1
    {
        display: inline;
        font-size: 14px;
        margin: 0;
        line-height: 0;
    }

div#post-book-writer-info
{
    padding: 3px;
    margin: 5px;
    font-size: 12px;
    font-weight: 700;
}

div#post-book-tag-info
{
    padding: 2px;
    margin: 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 700;
}

div#post-book-image img
{
    border: 1px solid #ccc;
}

    div#post-book-image img:hover
    {
        border: 1px solid #09c;
    }


div#post-book-description
{
    margin: 15px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 13px;
    line-height: 1.7em;
    padding-left: 40px;
}

div#post-book-visited-count
{
    margin-top: 15px;
    font-size: 14px;
}

div#post-book-comment-count
{
    margin-top: 15px;
    font-size: 14px;
}


div#post-book-detail-container
{
    padding: 5px;
    text-align: right;
}

div.post-book-detail
{
    padding: 5px;
    margin: 7px;
    border: 1px solid #00A6D2;
    min-height: 20px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

    div.post-book-detail label
    {
        margin-right: 10px;
        float: right;
        width: 100px;
    }

    div.post-book-detail:hover
    {
        color: white;
        background-color: #00A6D2;
    }


div#post-book-download-container
{
    margin-bottom: 35px;
    padding: 10px;
    margin: 10px;
    padding-bottom: 30px;
}

    div#post-book-download-container img
    {
        width: 12px;
        height: 12px;
        padding: 5px;
    }

    div#post-book-download-container a:hover
    {
        text-decoration: none;
    }

div#post-book-share-wrapper
{
    float: left;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20px;
}

div#post-book-share
{
    float: left;
}

    div#post-book-share img
    {
        width: 32px;
        height: 32px;
    }

div#post-book-like
{
    float: right;
    font-size: 12px;
}

    div#post-book-like img
    {
        width: 16px;
        height: 16px;
    }

    div#post-book-like a:hover
    {
        text-decoration: none;
    }

div#post-like
{
    border: 1px solid #68ff0d;
    margin-top: 10px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

    div#post-like:hover
    {
        border: 1px solid #68ff0d;
        -webkit-box-shadow: 0 0 3px 0px #68ff0d;
        box-shadow: 0px 0px 3px 0px #68ff0d;
    }

        div#post-like:hover a
        {
            color: #0a8909;
        }

div#post-dis-like
{
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    border: 1px solid #ff0d32;
    padding: 5px;
}

    div#post-dis-like:hover
    {
        border: 1px solid #ff0d32;
        -webkit-box-shadow: 0 0 3px 0px #ff0d32;
        box-shadow: 0px 0px 3px 0px #ff0d32;
    }

        div#post-dis-like:hover a
        {
            color: #e80c4d;
        }


div.similar-post
{
    padding: 10px;
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    border: 1px solid #00A6D2;
}


div#like-result
{
    display: none;
    margin-right: 20px;
}

    div#like-result > img
    {
        width: 30%;
        margin-right: 20px;
    }

    div#like-result div.alert
    {
        margin-bottom: 0;
        font-size: 12px;
        width: 40%;
    }

div#addCommentResult div.alert
{
    padding-bottom: 0;
    padding-top: 0;
    font-size: 12px;
}
/* end post container */

/* begin comment section*/
div#comment-container
{
    text-align: right;
    padding: 0px;
    margin: 10px;
}

    div#comment-container li
    {
        list-style: none;
    }

div.comment
{
    background-color: white;
    -webkit-box-shadow: 0 0 1px 0px #00a6d2;
    box-shadow: 0 0 1px 0px #00a6d2;
    border: 1px solid #00A6D2;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
}

    div.comment div.alert
    {
        padding-bottom: 3px;
        padding-top: 3px;
    }

div.comment-avatar
{
    float: right;
    padding: 10px;
    padding-bottom: 0;
    text-align: right;
    max-width: 70px;
}

    div.comment-avatar img
    {
        width: 60px;
        height: 60px;
        -webkit-box-shadow: 0 0 1px 1px #ccc;
        box-shadow: 0 0 1px 1px #ccc;
    }

    div.comment-avatar div
    {
        padding: 10px;
        padding-bottom: 0;
    }

div.comment-detail
{
    /*line-height: 1.6em;*/
    padding: 5px;
    font-size: 12px;
}

    div.comment-detail span.comment-date
    {
        direction: ltr !important;
        unicode-bidi: embed;
    }

div.comment-user
{
    text-align: center;
}

    div.comment-user label
    {
        font-size: 10px;
    }

div.comment-body
{
    padding: 10px;
    line-height: 1.3em;
    font-size: 12px;
    max-width: 750px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

div.comment-answare-btn
{
    padding: 10px;
    margin-left: 10px;
    margin-top: 0px;
}

div.comment-like-wrapper
{
    margin: 0px;
    float: right;
    font-size: 10px;
}

    div.comment-like-wrapper img
    {
        width: 10px;
        height: 10px;
    }



div.comment-like
{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 3px;
    float: right;
    cursor: pointer;
}

    div.comment-like a:hover
    {
        text-decoration: none;
    }

    div.comment-like:hover
    {
        border: 1px solid #68ff0d;
        -webkit-box-shadow: 0 0 3px 0px #68ff0d;
        box-shadow: 0px 0px 3px 0px #68ff0d;
        cursor: pointer;
    }

        div.comment-like:hover a
        {
            color: #0a8909;
        }


div.comment-dis-like
{
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    border: 1px solid #ccc;
    padding: 3px;
}

    div.comment-dis-like:hover
    {
        border: 1px solid #ff0d32;
        -webkit-box-shadow: 0 0 3px 0px #ff0d32;
        box-shadow: 0px 0px 3px 0px #ff0d32;
        cursor: pointer;
    }

        div.comment-dis-like:hover a
        {
            color: #ff0d32;
        }

    div.comment-dis-like a:hover
    {
        text-decoration: none;
    }


div.comment-reply
{
    margin: 10px;
    border: 1px solid #ccc;
    padding: 2px;
    padding-top: 7px;
    background-color: white;
}

    div.comment-reply label.control-label
    {
        width: 50px;
        margin-right: 20px;
        font-size: 13px;
    }

    div.comment-reply *
    {
        font-size: 13px;
    }

    div.comment-reply textarea#Body
    {
        height: 50px;
        min-width: 80%;
    }

div.comment-like-result
{
    display: none;
    float: right;
    width: 250px;
    margin-top: 7px;
    margin-right: 10px;
}

    div.comment-like-result div.alert
    {
        margin-bottom: 0;
    }

/* end comment section */

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-size: 1.1em;
    list-style: none !important;
}

.validation-summary-valid
{
    display: none;
}



legend
{
    font-family: 'B Koodak', Tahoma,"Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgb(3, 48, 90);
}

.sidebar-nav .nav-header
{
    font-size: 16px;
    font-family: 'B Koodak', Tahoma,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment-send-btn
{
    margin-right: 70px;
}

.tabs-right > .nav-tabs
{
    border-left-color: #03305A;
}

    .tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover
    {
        border-color: #03305A #03305A #03305A transparent;
    }

    .tabs-right > .nav-tabs > li > a:hover
    {
        border-color: #eeeeee #eeeeee #eeeeee #03305A;
    }

div#commentReply #CaptchaInputText
{
    margin-right: 50px;
}

div#loadingMessage
{
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 200px; /* adjust */
    height: 30px; /* adjust */
    top: 50%;
    z-index: 9999999999999999999;
    left: 50%;
    margin-left: -100px; /* half of the width */
    margin-top: -100px; /* half of the height */
    background-color: #77aad0;
    background-color: rgba(119, 170, 208, 0.56);
    border: 1px solid #03305A;
    display: none;
}

    div#loadingMessage img
    {
        float: right;
    }

    div#loadingMessage div
    {
        font-weight: bold;
        margin-top: 5px;
    }
