<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>هشدار!</strong> آیا شما از حذف این گروه مطمئن هستید؟
            </div>
            @using (Ajax.BeginForm(MVC.Admin.Category.ActionNames.Delete, MVC.Admin.Category.Name, new { id = ViewBag.CategoryId }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "result", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null))
            {
                @Html.AntiForgeryToken()
                <div id="result"></div>
                <input type="submit" class="btn btn-success" value="تایید" />
                <input type="button" id="btnClose" class="btn btn-danger" name="btnCancel" value="انصراف" onclick="$dialog.dialog('close');" />
            }
        </div>
    </div>
</div>
