<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">مدیریت پست ها</a>
        <ul class="nav">
            <li class="active">@Ajax.LinkDialog("افزودن پست جدید", Url.Action(MVC.Admin.Post.ActionNames.Add, MVC.Admin.Post.Name), "GET", null, "dialog", new DialogOptions { Height = "600", Width = "800", Title = "ایجاد پست جدید", IsModal = "true", ShowEffect = "size", ShowDir = "down", HideEffect = "fold", HideDir = "right" })</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
