<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">برگه ها</a>
        <ul class="nav">
            <li class="active">@Ajax.LinkDialog("افزودن برگه", Url.Action(MVC.Admin.Page.ActionNames.Add, MVC.Admin.Page.Name), "GET", null, "dialog", new DialogOptions { Height = "600", Width = "800", Title = "افزودن برگه", IsModal = "true", ShowEffect = "size", ShowDir = "down", HideEffect = "clip", HideDir = "right" })</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
