@{
    ViewBag.Title = "صفحه درخواستی یافت نشد";
}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>متاسفیم!</strong>
    <p>صفحه درخواستی شما موجود نمی باشد.</p>
</div>
